In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays LIMIT 10;

* postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[(2, 1541106106.796, 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (4, 1541106352.796, 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (5, 1541106496.796, 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (6, 1541106673.796, 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (7, 1541107053.796, 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (8, 1541107493.796, 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (9, 1541107734.796, 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (10, 1541108520.796, 10, 'free', None, None, 9, 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (12, 1541109125.796, 26, 'free', None, None, 169, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (13, 1541109325.796, 26, 'free', None, None, 169, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [4]:
%sql SELECT * FROM users LIMIT 10;

* postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[(8, 'Kaylee', 'Summers', 'F', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (101, 'Jayden', 'Fox', 'M', 'free'),
 (83, 'Stefany', 'White', 'F', 'free'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (48, 'Marina', 'Sutton', 'F', 'free'),
 (86, 'Aiden', 'Hess', 'M', 'free'),
 (17, 'Makinley', 'Jones', 'F', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid')]

In [5]:
%sql SELECT * FROM songs LIMIT 10;

* postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546),
 ('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', 0, 177.47546),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608),
 ('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', 0, 267.7024),
 ('SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', 0, 114.78159),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.81832),
 ('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, 266.39628)]

In [6]:
%sql SELECT * FROM artists LIMIT 10;

* postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', nan, nan),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan),
 ('ARXR32B1187FB57099', 'Gob', '', nan, nan),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan),
 ('ARNTLGG11E2835DDB9', 'Clp', '', nan, nan)]

In [7]:
%sql SELECT * FROM time LIMIT 10;

* postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[(1541106106.796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541106352.796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541106496.796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541106673.796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541107053.796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541107493.796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541107734.796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541108520.796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541109125.796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541109325.796, 21, 1, 44, 11, 2018, 'Thursday')]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).